#include "npapi.h"
#include "nprtrc.h"

RCDATA NP_INFO_ProductVersion   { 1,0,0,1, }
RCDATA NP_INFO_MIMEType         { "application/mozilla-npruntime-scriptable-plugin" }
RCDATA NP_INFO_FileExtents      { "foo" }
RCDATA NP_INFO_FileOpenName     { "npruntime" }
RCDATA NP_INFO_FileDescription  { "Scriptability Demo Plugin" }
RCDATA NP_INFO_ProductName      { "npruntime" }
